# Garmin Monkey C ignores
bin/
gen/
*.prg
*.iq

# IDE / OS ignores
.DS_Store
.vscode/

# Python generation script ignores
venv/
__pycache__/
*.zip
dseg/

# Node ignores
node_modules/
package-lock.json
package.json
